@keyframes clickEffect {
  0% {
    opacity: 1;
    transform: translateY(00px);
  }
  100% {
    opacity: 0;
    font-size: 45px;
    transform: translateY(-300px);
  }
}

@keyframes scaleEffect {
  0% {
    transform: scale(97%);
  }
  100% {
    transform: scale(1);
  }
}

.coinCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}
.include {
  min-width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.counter svg {
  margin-top: -20px;
}
.coinCount {
  font-family: Jomhuria;
  font-size: 96px;
  font-weight: 400;
  color: white;
}

.coinClick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.coinClick button {
  background-color: transparent;
  border: none;
  /* background-color: red; */
  position: relative;
}

.effect {
  position: absolute;
  top: 100px;
  left: 110px;
  opacity: 0;
  color: white;
  animation-name: clickEffect;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  font-size: 45px;
}
.scaleEffect{
  animation-name: scaleEffect;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.coinClick h1 {
  opacity: 0;
  font-size: 55px;
}

.coinClick img {
  width: 248px;
  height: 245px;
}

.clickInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}
.clickInfo h2 {
  font-family: Jomhuria;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: white;
  margin-top: 10px;
}
.span2 {
  font-size: 30px;
}
.status {
  margin-top: -20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.status span {
  font-family: Istok Web;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #8c8787;
}
.fa-chevron-right {
  font-size: 24px;
  color: #8c8787;
}
